<h1>Novo Cliente</h1>
    
    <form #form="ngForm" novalidate>
            {{form.valid}}
            {{form.value|json}}
        <div class="campo">
            <label class="control-label sr-only" for="client_name"><i class="fa fa-check"></i>Name</label><br>
            <input style="text-align:center" required type = text name="name" placeholder="Nome Completo" autocomplete="off" ngModel><br>
        </div>

        <div class="campo">
            <label for="client_rg">RG</label><br>
            <input style="text-align:center" required name="rg" placeholder="RG" ngModel>
        </div>
            
        <div class="campo">
            <label class ="control-label sr-only" for="client_rg)">Orgão Exp.</label><br>
            <input style="text-align:center" required name="rgInfo" placeholder="Orgão Exp."  autocomplete="off" ngModel><br>
        </div>

        <div class="campo">
            <label for="client_cpf">CPF ou CNPJ</label><br>
            <input style="text-align:center" required name="cpf" placeholder="CPF ou CNPJ" autocomplete="off" ngModel><br>
        </div>

        <div class="campo">
            <label for="client_telefone">Telefone</label><br>
            <input style="text-align:center" required name="telefone" placeholder="Telefone" autocomplete="off" ngModel><br>
        </div>

        <div class="campo">
            <label for="client_email">Email</label><br>
            <input style="text-align:center" required name="email" placeholder="Email" autocomplete="off" ngModel><br>
        </div>
            
        <div class="campo">
            <label for="client_job">Profissão</label><br>
            <input style="text-align:center" required name="job" placeholder="Profissão" autocomplete="off" ngModel><br>
        </div>
            
        <div class="campo">
            <label for="client_adress">Endereço</label><br>
            <input style="text-align:center" required name="adress" placeholder="Endereço" autocomplete="off" ngModel><br>
        </div>

        <div class="campo">
            <label for="client_type">Tipo de Cliente</label><br>
            <input style="text-align:center" required name="type" placeholder="Tipo de cliente"  autocomplete="off" ngModel><br>
            
        </div>  
                
    </form>
    <br><br>
    <button [disabled]="!form.valid">Cadastro</button>

